<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/posted.css">
</head>
<body>
    <div class="container">
        <div class="top-bar">
            <a href="/"><img src="/assets/Logo White.png" alt="Harmony XYZ" id="logo"></a>
            <a href="/dashboard" class="left"><p>Dashboard</p></a>
            <a href="/" class="left"><p>Home</p></a>
            <a href="/details" class="left"><p>Details</p></a>
            <div class="right">
                <a href="/browse" class="right"><p>Browse</p></a>
            </div>
        </div>
        <div class="body">
            <p id="text"><%=type%> posted at <a href="<%=url%>"><%=url%></a></p>
        </div>
    </div>
    
</body>
</html>